.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px;
}
.navButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #84888B;
  font-weight: 500;
  padding: 6px 13px;
}
.navButtonActive {
  background-color: #E29CFF;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #510E2A;
  font-weight: 500;
  padding: 6px 13px;
}
